
{% extends 'base.html' %}{% load i18n static bootstrap4 %}
{% block extra_head %}<link rel="alternate" type="application/rss+xml"
  title="{{request.site.name}} RSS ({{page.category.headline}})"
  href="{% url "category-feed" page.category.slug %}">
{% endblock extra_head %}
{% block header %}{# Nav menus, top utils, and content showcase #}
<div class="container">
{% include "components/masthead.html" %}
{% include "components/navmenu_top.html" %}
</div>
{% endblock header %}
{% block content %}
<div class="container">
  <div class="row">
    <main role="main" class="col-md-8 blog-main">
    <article class="blog-post">
      <h1 class="blog-post-title">{{ page.headline }}</h1>
      <p class="blog-post-meta">{{ page.updated|date:"DATE_FORMAT" }}
      {% if page.byline %}{% trans "by" %} {{ page.byline }}{% endif %}</p>
      {{ page.body|safe }}
    </article>
    </main><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
    {% include "components/blog_sidebar.html" %}
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->
</div><!-- /.container -->
{% endblock content %}
