{% extends 'base.html' %}{% load i18n static bootstrap4 %}
{% block header %}{# Nav menus, top utils, and content showcase #}
<div class="container">
{% include "components/masthead.html" %}
{% include "components/navmenu_top.html" %}
{% if cta %}{% include "components/cta/jumbolink.html" %}{% endif %}
{% include "components/featured_block.html" %}
</div>
{% endblock header %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2 class="pb-3 mb-4 font-italic border-bottom">{% trans "Recent Articles" %}</h2>
      {% for article in recent_articles %}
        {% include "components/article_preview.html" %}
      {% endfor %}
      <nav class="blog-pagination">{% if pg.has_next %}
        <a class="btn btn-outline-primary" href="{% url "archive" pg.next_page_number %}">{% trans "Older" %}</a>
        {% endif %}{% if pg.has_previous %}
        <a class="btn btn-outline-primary" {% if pg.previous_page_number == 1 %}
        href="{% url "home" %}" {% else %} href="{% url "archive" pg.previous_page_number %}" {% endif %}
        >{% trans "Newer" %}</a>{% endif %}
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
    {% include "components/blog_sidebar.html" %}
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
{% endblock content %}
{% block extra_js %}{# for demo only, remove in production #}
<script src="{% static "holder.js" %}"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>
{% endblock extra_js %}
