
{% extends 'base.html' %}{% load i18n static bootstrap4 %}
{% block extra_css %}
{% endblock extra_css %}
{% block header %}{# Nav menus, top utils, and content showcase #}
<div class="container">
{% include "components/masthead.html" %}
{% include "components/navmenu_top.html" %}
{% if page.cta %}{% include page.cta.template with cta=page.cta %}{% endif %}
{% include "components/featured_block.html" %}
</div>
{% endblock header %}
{% block content %}
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <h2 class="pb-3 mb-4 font-italic border-bottom">{% trans "Recent Articles" %}</h2>
      {% include "components/article_list.html" with article_list=recent_articles %}

      <nav class="blog-pagination">
        <a class="btn btn-outline-primary" href="#">{% trans "Older" %}</a>
        <a class="btn btn-outline-secondary disabled" href="#">{% trans "Newer" %}</a>
      </nav>

    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
    {% include "components/blog_sidebar.html" %}
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->
{% endblock content %}
{% block extra_js %}{# for demo only, remove in production #}
<script src="{% static "holder.js" %}"></script>
<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>
{% endblock extra_js %}
