{% comment %}Set the `featured_articles` variable when including this component.{% endcomment %}
{% load i18n webquills %}<div class="row mb-2">
{% for article in featured_articles %}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0"><a class="text-dark" href="{{ article.get_absolute_url }}">{{ article.title}}</a></h3>
        <p class="card-text mb-auto">{{ article.seo_description }}</p>
        <a href="{{ article.get_absolute_url}}">{% trans "Continue reading" %}</a>
      </div>
      <a href="{{ article.get_absolute_url }}">
      {% if article.featured_image %}
      <img class="card-img-right flex-auto d-none d-md-block" alt="{{ article.featured_image.alt_text}}"
      src="{% image_url article.featured_image fillcrop width=200 height=250 %}" />
      {% elif article.category.featured_image %}
      <img class="card-img-right flex-auto d-none d-md-block" alt="{{ article.category.featured_image.alt_text}}"
      src="{% image_url article.category.featured_image fillcrop width=200 height=250 %}" />
      {% else %}
      <img class="card-img-right flex-auto d-none d-md-block" src="https://placeimg.com/200/250/animals/sepia" alt="A cute animal">
      {% endif %}
      </a>
    </div>
  </div>
{% endfor %}
</div>
