{% load i18n wagtailcore_tags wagtailimages_tags %}<div class="row mb-2">
{% for article in featured_articles %}
  <div class="col-md-6">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
      <div class="card-body d-flex flex-column align-items-start">
        <h3 class="mb-0"><a class="text-dark" href="{% pageurl article %}">{{ article.title}}</a></h3>
        <p class="card-text mb-auto">{{ article.search_description }}</p>
        <a href="{% pageurl article %}#continue-reading">{% trans "Continue reading" %}</a>
      </div>
      {% if article.featured_image %}
      {% image article.featured_image fill-200x250 class="card-img-right flex-auto d-none d-md-block" %}
      {% elif article.get_parent.specific.featured_image %}
      {% image article.get_parent.specific.featured_image fill-200x250 class="card-img-right flex-auto d-none d-md-block" %}
      {% else %}
      <img class="card-img-right flex-auto d-none d-md-block" src="https://placeimg.com/200/250/animals/sepia" alt="A cute animal">
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
