{% load static i18n webquills %}
{% with menupages=topmenu %}
<div class="nav-scroller mb-3 mt-2 bg-light">{# Horizontal navigation menu #}
  <nav class="nav d-flex nav-pills nav-justified">
    <a class="nav-item nav-link p-2 {% menu_active "/" %}"
    href="{% url "home" %}">Home</a>
  {% for menupage in menupages %}
    <a class="nav-item nav-link p-2 {% menu_active menupage.get_absolute_url %}"
    href="{{ menupage.get_absolute_url }}">{{ menupage.headline }}</a>
  {% empty %}
  {% endfor %}
  </nav>
</div>
{% endwith %}
