{% comment %}Set the `cta` variable when including this component.{% endcomment %}
{% load i18n webquills %}{% if cta %}
<div class="cta-jumbolink jumbotron mx-1 p-1 text-white rounded bg-dark row justify-content-between">
  <div class="col-md-6 p-3">
    <h1 class="display-4 font-italic">{{ cta.headline }}</h1>
    <div class="lead my-3">{{ cta.lead|safe }}</div>
    <p class="lead mb-0"><a href="{{cta.link}}" class="text-white font-weight-bold">{{cta.action_label}}</a></p>
  </div>
  {% if cta.picture %}
  <div class="col-md-6 px-0 cta-jumbolink-extra"><a href="{{cta.link}}"><img class="img-fluid float-right"
  src="{% image_url cta.picture "resize" width=600 height=450 %}" /></a></div>
  {% endif %}
</div>
{% endif %}