<!DOCTYPE html>{% load bootstrap4 static %}
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {# Global stylesheets #}{% bootstrap_css %}
    {% block extra_css %}{% endblock %}
  </head>
  <body class="{% block body_class %}{% endblock body_class %}">
    {% block header %}{% endblock header %}
    {% block precontent %}{% endblock precontent %}
    {% block content %}{% endblock content %}
    {% block postcontent %}{% endblock postcontent %}
    {% block footer %}{% endblock footer %}
    {# Global javascript #}{% bootstrap_javascript jquery="slim" %}
    {% block extra_js %}{% endblock %}
  </body>
</html>
